/* * {
    box-sizing: border-box;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
  }
  
body {
    margin: 0;
}

  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .nav {
      display: flex;
      /* justify-content: space-between; */
      list-style: none;
  }

  .nav li {
      width: 70%;
      padding-top: 1%;
  }

  .logo {
      padding-right: 50%;
  }

  a {
      text-decoration: none;
      color: rgb(11, 53, 98)
  }

 .mainMiddle {
     display: flex;
     background-color: rgb(228, 225, 244);
 } 

 .mainLeft {
     /* border: 2px solid black; */
     width: 50%;
     padding: 0 0 0 5% ;
     
     height: 89vh;
     /* text-align: start; */
     line-height: 1.5;
 }

 h1 {
    font-size: 3rem;
 }

 .mainRight {
    /* border: 2px solid blue; */
    width: 50%;
    height: 89vh;
}

.mainRight h1 {
    font-size: 1.5rem;
}

.real {
    font-size: 1rem;
}

.person-1 {
    padding: 0 15% 0 10%;
}

.people img {
    height: 100px;
}

.info span {
    font-size: 1rem;
}

p {
    font-style: italic;
}



/* Slider on Right Side of Page */


.content {
    background-color: white;
    line-height: 1.1rem;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 89vh; 

}

.slide {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: 50px; 
    left: -400;
    opacity: 0;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 20px;
    border-radius: 0%;
}

.slide.current .content {
    opacity: 1;
    transform: translateX(40px);
    transition: all 0.7s ease-in-out .7s;
}

#next {
position: absolute;
top: 50%;
right: 20px;
/* display: none; */
}

#prev {
position: absolute;
top: 50%;
left: 52%;
/* display: none; */
}

.buttons button {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 45%;
    outline: none;
}
.buttons button:hover {
    background-color: #fff;
    color: #333;
}

/* Backgorund Images */
 
.slide:first-child {
    background: url('https://images.unsplash.com/photo-1505843513577-22bb7d21e455?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bHV4dXJ5JTIwaG91c2V8ZW58MHx8MHx8&w=1000&q=80') no-repeat
      center top/cover;
  }
  .slide:nth-child(2) {
    background: url('https://img.gtsstatic.net/reno/imagereader.aspx?idlisting=170-l-77837-f1170630664&imageurl=http%3A%2F%2Flh.rdcpix.com%2F2ae3f15db39b7f1ab573f6328d03df90l-f867048285r.jpg&option=n&w=1600&fallbackimageurl=https%3A%2F%2Fstatic-christiesrealestate-cms-production.gtsstatic.net%2Fresources%2F_responsive%2Fimages%2Fcommon%2Fnophoto%2Fdefault.jpg') no-repeat
      center top/cover;
  }
  .slide:nth-child(3) {
    background: url('http://cdn.home-designing.com/wp-content/uploads/2020/04/luxury-house-with-pool-design.jpg') no-repeat
      center top/cover;
  }
  .slide:nth-child(4) {
    background: url('http://cdn.home-designing.com/wp-content/uploads/2020/04/exterior-lighting-1.jpg') no-repeat
      center top/cover;
  }
  .slide:nth-child(5) {
    background: url('https://i.insider.com/5d30c1e361de61077c2398ba?width=1300&format=jpeg&auto=webp') no-repeat
      center top/cover;
  } 
  .slide:nth-child(6)  {
    background: url('http://cdn.home-designing.com/wp-content/uploads/2020/04/luxury-house-with-green-roof.jpg') no-repeat
      center center/cover;
  }